@using System.Data;
@{ 
    ViewBag.Title = "Empresa";
    ViewBag.Description = "Listado de Empresas";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-md-12">


        Lista de empresas 

    </div>
</div>