@using System.Data;
@{
    ViewBag.Title = "Cuenta Usuarios";
    ViewBag.Description = "Creación de Cuentas Usuarios";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">
    <div class="col-xs-8 col-md-8">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption">Crear Cuenta</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div id="settings" class="tab-pane">
                <div class="widget-body">
                    <form role="form" action="Insert_CreateAccount" id="registrationForm" method="post"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                        <div class="form-title">
                            Datos de la Cuenta
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control" autocomplete="Off" name="Mail" id="Mail" placeholder="Correo Electronico"
                                               data-bv-notempty="true"
                                               data-bv-notempty-message="El Correo es requerido" />
                                        <i class=" glyphicon glyphicon-envelope"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <input type="password" class="form-control" name="password"
                                               autocomplete="Off"
                                               placeholder="Contraseña"
                                               data-bv-notempty="true"
                                               data-bv-notempty-message="La contraseña es requerida y no puede estar vacia"
                                               data-bv-identical="true"
                                               data-bv-identical-field="confirmPassword"
                                               data-bv-identical-message="Su contraseñas deben coincidir"
                                               data-bv-different="true"
                                               data-bv-different-field="UserName"
                                               data-bv-different-message="La contraseña no puede ser su usuario" />
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <input type="password" class="form-control" name="confirmPassword"
                                               autocomplete="Off"
                                               placeholder="Confirme su Contraseña"
                                               data-bv-notempty="true"
                                               data-bv-notempty-message="La contraseña es requerida y no puede estar vacia"
                                               data-bv-identical="true"
                                               data-bv-identical-field="password"
                                               data-bv-identical-message="Su contraseñas deben coincidir"
                                               data-bv-different="true"
                                               data-bv-different-field="UserName"
                                               data-bv-different-message="La contraseña no puede ser su usuario" />
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-title">
                            Información Personal
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control" name="Name" id="Name" placeholder="Nombre"
                                               data-bv-notempty="true"
                                               data-bv-notempty-message="El Nombre de Usuario es requerido" />
                                        <i class="fa fa-user blue"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control" name="Phone" id="Phone" placeholder="Telefono">
                                        <i class="glyphicon glyphicon-earphone yellow"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <textarea class="form-control" name="Value" rows="5" id="Value" placeholder="Observacion"></textarea>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="width:200px;height:200px;" class="col-sm-6">
                                <div style="width:200px;height:200px;" id="dZUpload" class="dropzone">
                                    <div class="dz-default dz-message"></div>
                                </div>
                            </div>
                        </div>
                        <hr class="wide" />
                        <div class="form-group">
                            
                                <button type="submit" class="btn btn-primary">Crear Cuenta</button>
                                <button type="button" class="btn btn-danger" onclick="history.back();">Cancelar</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    @section PageScripts{
        @{

            <script src="~/assets/js/validation/bootstrapValidator.js"></script>
            <script src="~/assets/js/dropzone/dropzone.min.js"></script>
            var relativeUrl = HttpContext.Current.Request.Url.Segments;
            var url = string.Empty;

            foreach (var item in relativeUrl)
            {
                if (!item.Equals("Index"))
                {
                    url += item;
                }
                else
                {
                    break;
                }
            }
        }


        <script>
            $("#registrationForm").bootstrapValidator();
            $(document).ready(function () {
                Dropzone.autoDiscover = false;
                //Simple Dropzonejs
                $("#dZUpload").dropzone({
                    url: "@url/Upload",
                    addRemoveLinks: true,
                    maxFiles: 1,
                    uploadMultiple: false,
                    acceptedFiles: "image/*",
                    init: function () {
                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });
                    },
                    success: function (file, response) {
                        var imgName = file.name;
                        file.previewElement.classList.add("dz-success");
                    },
                    error: function (file, response) {
                        file.previewElement.classList.add("dz-error");
                    }
                });
            });
        </script>
    }
