body:before {
    background-color: transparent !important;
   }
table.dataTable.nowrap th, table.dataTable.nowrap td {
        white-space: nowrap;
    }
.dtx-left {
    z-index:12;
    padding-left:0px !important;
}

.dataTables_filter {
    /*display:none;*/
}
.dtx-index {
    z-index: 15 !important;
}


.fontdatatable7.table thead > tr > th, .fontdatatable7.table tbody > tr > td  {
    font-size:7px !important;
}

.fontdatatable9.table thead > tr > th, .fontdatatable9.table tbody > tr > td {
    font-size:9px !important;
}

.fontdatatable11.table thead > tr > th, .fontdatatable11.table tbody > tr > td {
    font-size:11px !important;
}

.fontdatatable13.table thead > tr > th, .fontdatatable13.table tbody > tr > td {
    font-size:13px !important;
}

.fontdatatable15.table thead > tr > th, .fontdatatable15.table tbody > tr > td {
    font-size:15px !important;
}

.nowrap {
    white-space: nowrap;}


.navbar .navbar-inner {
    background-image: linear-gradient(to right, #ed4e2a, #006666)!important;
}
.page-header {    
    border-bottom: 1px solid #021349 !important;
    background-image: linear-gradient(to right, #ed4e2a, #006666) !important;
}

.page-header .header-title h1 small {
    color: #fff !important;
}
.page-header .header-title h1 {
    color: rgb(255, 255, 255) !important;
}
.page-header .header-buttons a {
    color: #ffffff !important;
}
.form-control, select {
    background-color: #ffffff !important;
}
.page-sidebar .sidebar-menu a .menu-icon {
    color: #ed4e2a;
}
.btn-primary {
    background-color: #006666 !important;
}
.pagination {
    background-color: #006666 !important;
}