<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAdmArchivos" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
      <!--==DESARROLLO==-->
        <client>
            <endpoint address="http://dev.ultraport.cl/wcfAdmArchivos/AdmArchivos.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdmArchivos" contract="WSDocumentos.IAdmArchivos" name="WSHttpBinding_IAdmArchivos" />
        </client>
      <!--==PRODUCTIVO==-->
      <!--<client>
        <endpoint address="http://ws.ultraport.cl/wcfAdmArchivos/AdmArchivos.svc"
            binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdmArchivos"
            contract="WSDocumentos.IAdmArchivos" name="WSHttpBinding_IAdmArchivos" />
      </client>-->
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
