<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Server=200.74.108.71;Database=bd_core; User Id=usr_netcore;Password=abcd.1234;"
    providerName="System.Data.SqlClient" />

  <add name="CoreConnection" connectionString="Server=200.74.108.71;Database=bd_core; User Id=usr_netcore;Password=abcd.1234;"
    providerName="System.Data.SqlClient" />

  <add name="PeddEvalConnection" connectionString="Server=UPOR-MM-VCONCHA\SQLEXPRESS;Database=BdPedd;User Id=UsrPedd;Password=c4r4m3l0s;"
    providerName="System.Data.SqlClient" />-->

  <add name="DefaultConnection" connectionString="Server=localhost\SQLEXPRESS;Database=bd_core; Trusted_Connection=True;"
  providerName="System.Data.SqlClient" />

  <add name="CoreConnection" connectionString="Server=localhost\SQLEXPRESS;Database=bd_core; Trusted_Connection=True;"
    providerName="System.Data.SqlClient" />

  <add name="PeddEvalConnection" connectionString="Server=localhost\SQLEXPRESS;Database=BdPedd;Trusted_Connection=True;"
    providerName="System.Data.SqlClient" />

  <add name="MaestroConnection" connectionString="Server=localhost\SQLEXPRESS;Database=BdMaestros;Trusted_Connection=True;"
  providerName="System.Data.SqlClient" />

</connectionStrings>

